html {
  font-size: 100px;
}
body,
dl,
p,
table {
  margin: 0;
}
a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}
.cb {
  clear: both;
}
.csr {
  cursor: pointer;
}
.flt {
  float: left;
}
.frt {
  float: right;
}
input {
  outline: none;
}
.br {
  border-radius: 50%;
}
.hide {
  display: none;
}
.right {
  right: 0%;
  position: absolute;
  top: 0%;
}
.w20 {
  width: 20%;
}
.w25 {
  width: 25%;
}
.w33 {
  width: 33%;
}
.w50 {
  width: 50%;
}
body {
  position: relative;
  background: #f0f0f0;
  font-size: 0.13rem;
}
content {
  display: block;
}
.follow {
  position: fixed;
  top: 0.5rem;
  width: 1rem;
  left: 1rem;
  background: #df4b24;
}
.follow img {
  width: 90%;
  margin-left: 5%;
}
img {
  vertical-align: middle;
  border: none;
}
input,
textarea {
  font-size: 0.14rem;
}
.load {
  line-height: 0.18rem;
  text-align: center;
  font-size: 0.14rem;
}
.pub-btn {
  text-align: center;
  background: #df4b24;
  color: #ffffff;
  font-size: 0.14rem;
  padding: 0.13rem 0;
  border-radius: 0.04rem;
  cursor: pointer;
  margin-top: 0.3rem;
}
.consult {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 0.49rem;
  background: #df4b24;
  font-size: 0.14rem;
  z-index: 1;
  text-align: center;
  display: none;
}
.consult a {
  color: #ffffff;
  display: block;
  width: 50%;
  box-sizing: border-box;
  line-height: 0.24rem;
  margin-top: 0.13rem;
  float: left;
}
.consult a:nth-child(1) {
  border-right: 1px solid #cccccc;
}
.consult a img {
  height: 0.2rem;
  position: relative;
  top: -0.02rem;
}
.choiceData {
  position: fixed;
  z-index: 9;
  background: #ffffff;
  left: 0.05rem;
  width: 3rem;
  border: 1px solid #dddddd;
  box-shadow: 0px 2px 12px #cccccc;
  line-height: 0.23rem;
  padding: 0.04rem;
  display: none;
}
.choiceData.choiceTimes {
  height: 98%;
  overflow: auto;
  top: 1%;
}
.choiceData.choiceTimes dl {
  margin: 0.1rem 0.1rem;
  height: 100%;
  text-align: center;
}
.choiceData.choiceTimes dl dt {
  background: #f5f5f5;
  line-height: 0.4rem;
  border-radius: 0.05rem;
  margin-bottom: 0.1rem;
}
.choiceData.choiceCity {
  top: 50rem;
}
.choiceData.choiceCity a {
  display: inline-block;
}
.choiceData.choiceCity .city-title a {
  padding: 0 0.03rem;
  margin: 0 0.01rem;
}
.choiceData.choiceCity .city-title a:hover {
  background: #f1f8ff;
}
.choiceData.choiceCity .city-ok {
  margin: 0.08rem 0.03rem;
}
.choiceData.choiceCity .city-ok a {
  padding: 0 0.06rem;
  margin: 0 0.03rem;
  background: #e8e8e8;
  border: 1px solid #dddddd;
  color: #000000;
}
.choiceData.choiceCity .city-menu {
  background: #f0f0f0;
  border-top: 1px solid #dddddd;
}
.choiceData.choiceCity .city-menu a {
  padding: 0 0.1rem;
}
.choiceData.choiceCity .city-menu a.active {
  background: #ffffff;
}
.choiceData.choiceCity dl.city-data {
  display: none;
  padding: 0.08rem 0;
}
.choiceData.choiceCity dl.city-data.active {
  display: block;
}
.choiceData.choiceCity dl.city-data dt {
  margin-bottom: 0.08rem;
  position: relative;
}
.choiceData.choiceCity dl.city-data dt p {
  display: inline-block;
}
.choiceData.choiceCity dl.city-data dt p.number {
  width: 0.4rem;
}
.choiceData.choiceCity dl.city-data dt p.number span {
  position: absolute;
  top: 0%;
}
.choiceData.choiceCity dl.city-data dt p.citys {
  width: 2.6rem;
}
.choiceData.choiceCity dl.city-data dt p.citys a {
  padding: 0 0.1rem;
}
.choiceData.choiceCity dl.city-data dt p.citys a.active {
  background: #46a4ff;
  color: #ffffff;
  border-radius: 0.02rem;
}
footer {
  position: fixed;
  width: 100%;
  line-height: 0.2525rem;
  bottom: 0;
  text-align: center;
  background: #ffffff;
  height: 0.505rem;
}
footer .line {
  position: relative;
  height: 0.055rem;
}
footer .line img {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
}
footer dl {
  font-size: 0.1rem;
}
footer dl dt {
  float: left;
  width: 20%;
  position: relative;
}
footer dl dt div {
  height: 0.2525rem;
}
footer dl dt div img {
  margin-top: 0.04rem;
}
footer dl dt div.txt {
  line-height: 0.21rem;
  color: #999999;
}
footer dl dt.send:before {
  content: '';
  position: absolute;
  left: 0.1rem;
  width: 0.45rem;
  height: 0.45rem;
  border-radius: 50%;
  background: #ffffff;
  top: -0.045rem;
}
footer dl dt.send img {
  height: 0.38rem;
  position: relative;
  z-index: 1;
}
footer dl dt span {
  clear: left;
}
footer dl dt .icon {
  height: 0.23rem;
  position: relative;
  top: 0.02rem;
}
footer dl dt .icon_new {
  height: 0.3rem;
}
footer dl dt .cut {
  position: absolute;
  height: 0.32rem;
  top: 0.065rem;
}
footer dl dt .cut.l {
  left: 0;
}
footer dl dt .cut.r {
  right: 0%;
}
.foot-tserver {
  text-align: center;
  font-size: 0.105rem;
  line-height: 0.15rem;
  color: #888888;
}
