body {
  background: #ffffff;
}
.head {
  width: 3.2rem;
  height: 1.165rem;
  position: relative;
}
.head img {
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0;
}
.detail {
  font-size: 0.13rem;
}
.detail .type {
  padding: 0.06rem;
  border-bottom: 1px solid #dddddd;
}
.detail .type .outer {
  line-height: 0.25rem;
  width: 1.4rem;
  margin-left: 0.835rem;
  border-radius: 0.04rem;
  text-align: center;
  overflow: hidden;
  border: 1px solid #df4b24;
}
.detail .type .outer div {
  width: 0.7rem;
  background: #ffffff;
  color: #df4b24;
}
.detail .type .outer div.active {
  background: #df4b24;
  color: #ffffff;
}
.detail .where {
  border-bottom: 1px solid #dddddd;
  position: relative;
  line-height: 0.4rem;
  height: 0.4rem;
  overflow: hidden;
  text-align: center;
}
.detail .where .txt {
  color: #444444;
  display: block;
  float: left;
  width: 25%;
}
.detail .where .line {
  position: absolute;
  color: #eeeeee;
  left: 0;
}
.detail table.menu {
  font-size: 0.14rem;
  width: 100%;
  text-align: center;
  color: #666666;
  border-bottom: 1px solid #eeeeee;
  background: #ffffff;
}
.detail table.menu td {
  cursor: pointer;
}
.detail table.menu td span {
  width: 1.06rem;
  display: inline-block;
  line-height: 0.39rem;
  height: 0.39rem;
  overflow: hidden;
}
.detail table.menu td span.choice {
  color: #df4b24;
  font-weight: 900;
}
.detail table.menu td span.choice b {
  display: inline-block;
  position: relative;
  width: 0.06rem;
  height: 0.06rem;
  border-bottom: 1px solid #df4b24;
  border-left: 1px solid #df4b24;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -moz-transform: rotate(-45deg);
  /* Firefox */
  -webkit-transform: rotate(-45deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(-45deg);
  /* Opera */
  left: 0.045rem;
  top: -0.04rem;
}
.detail table.menu td.active span {
  border-bottom: 2px solid #cd2525;
}
.detail table.menu img {
  width: 0.26rem;
}
.detail dl.data {
  padding-bottom: 0.7rem;
}
.detail dl.data .moreText {
  line-height: 0.28rem;
  text-align: center;
  position: relative;
  color: #666666;
  border-bottom: 1px solid #e5e5e5;
}
.detail dl.data .moreText:before {
  content: '';
  position: absolute;
  left: 0.2rem;
  top: 0.15rem;
  width: 0.65rem;
  height: 0.005rem;
  background: #dddddd;
}
.detail dl.data .moreText:after {
  content: '';
  position: absolute;
  right: 0.2rem;
  top: 0.15rem;
  width: 0.65rem;
  height: 0.005rem;
  background: #dddddd;
}
.detail dl.data dt {
  padding: 0.06rem 0.1rem;
  border-bottom: 1px solid #e5e5e5;
  height: 0.81rem;
}
.detail dl.data dt .logo {
  width: 0.61rem;
  margin-right: 0.08rem;
  float: left;
}
.detail dl.data dt .logo img.headimg {
  width: 0.58rem;
  height: 0.58rem;
  border-radius: 50%;
  margin-bottom: 0.04rem;
}
.detail dl.data dt .logo img.vip {
  width: 100%;
}
.detail dl.data dt .logo span {
  cursor: pointer;
}
.detail dl.data dt .text {
  width: 2.21rem;
  float: left;
}
.detail dl.data dt .text p {
  line-height: 0.19rem;
  font-size: 0.1rem;
  color: #888888;
  height: 0.19rem;
  overflow: hidden;
}
.detail dl.data dt .text p span {
  cursor: pointer;
}
.detail dl.data dt .text p.tit {
  line-height: 0.17rem;
  font-size: 0.14rem;
  font-weight: 900;
  color: #000000;
  letter-spacing: 0.005rem;
}
.detail dl.data dt .text p.tit img {
  width: 0.12rem;
  position: relative;
  top: -0.02rem;
}
.detail dl.data dt .text p.starting {
  margin-top: 0.01rem;
}
.detail dl.data dt .text p.destination {
  margin-top: 0.02rem;
  margin-bottom: 0.02rem;
}
.detail dl.data dt .text p.remark {
  width: 1.9rem;
  height: 0.38rem;
  overflow: hidden;
  font-size: 0.14rem;
}
.detail dl.data dt .text p img {
  width: 0.15rem;
}
.detail dl.data dt .contact {
  width: 0.64rem;
  text-align: center;
  font-size: 0.09rem;
  line-height: 0.25rem;
  position: absolute;
  right: 0%;
}
.detail dl.data dt .contact img {
  width: 0.36rem;
  cursor: pointer;
}
